* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  font-family: Roboto, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #222222;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #222222;
  overflow-x: hidden;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}